/* customise setting */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&display=swap');


body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
}
.hidden{
    display: none;
}
.cleared{
    pointer-events: none;
}

.deactivate{
    opacity: 0.5;
    pointer-events: none;
}

.poke-red{
    background-color: #F24C4C!important;
}
.poke-grey{
    background-color: #f1f2f2!important;
    background-image:url("../img/wallpaper.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;

}


.boldHeader{

    color:#5a555c;
    font-weight: 900;
    font-style: italic;

}

.questionPanel{
    background-color: #e4e6e6;
    border-radius:20px;
    max-height: 70vh;
    border: 17px solid #e4e6e6;
    overflow-y: scroll;
}



.menu{
    background-image: url("../img/header4.svg");
    background-size: cover;
    background-position: top left;
    background-repeat: none;
    height:10vh;
}

.nav-link{
    color: white!important;

}

.subHeader{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    
}

.smallText{
    font-size: 0.8rem;
    vertical-align: middle!important;

}

.questionLog{
    height: 100%;
    background-color: #434343;
}

.poke-pixelFont {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
}

.poke-mapbox,.questionList {
    height: 65vh;
}

.questionLog{
    overflow-x:hidden;
    overflow-y:scroll;
    height: 93%;
}
.pokedex-extension {
    height: 20px;
}

.timer{
    background-color: white;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    position:absolute;
    bottom: 5px;
    left:0;
    right: 0;
}

.marker-wrapper{
    position: relative;
}
.screenBorderGrey{
    border: 0.5rem solid #5A555C;
}

.screenBorderWhite{
    border-left: 1rem solid  #E7E7E7;
    border-right: 1rem solid  #E7E7E7;
    border-top: 1rem solid  #E7E7E7;
    border-bottom: 2rem solid  #E7E7E7;
    background-color: #5A555C;
}
.questionList{
    background-color: #5A555C;
}

.questionIcon{
    max-width: 40px;
}

.questionText{
    flex-grow: 1;
    vertical-align: middle!important;

}
.questionItem{
    background-image: url("../img/question_banner.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #6695CB;
    border-bottom: 0.3rem solid #9ABAD1;
    line-height: 1.1;
    color:white;
}

.questionItem.correct{
    background-image: url("../img/question_correct.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #76CC7D;
    border-bottom: 0.3rem solid #6AB870;
    line-height: 1.1;
    color:white;
}

.questionItem.wrong{
    background-image: url("../img/question_wrong.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #CC2F2F;
    border-bottom: 0.3rem solid #B82A2A;
    line-height: 1.1;
    color:white;
}

.status{
    max-width: 60px;
}

#gallery{
    background-color: #F9EA99;
    position: relative;
    height: 100%;
}

#bannerTitle{
    background-color: #F3B182;
    width: 50%;
    text-align: center;
    font-size: 80%;
}

#nextBtn img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#boxStage{
    background-color:#FEFAE4;
    width: 95%;
    border-radius: 20px;
}

.pokemonGallery{
    max-width: calc(100%/10);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.colured{
    -webkit-filter: grayscale(0%)!important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%)!important; 
}

#boxName{
    font-family: "Nunito Sans", sans-serif;
    color:#434343;
    font-weight: 900;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1;
}

#sideNavigation{
    width: 30px;
    height: 100%;
    position: absolute;
    right: 1%;
    top:0;
    bottom:0;
    margin: auto;
    z-index: 100;
}

.navTry{
    height: 60%;
    position: relative;
}

.sidebar{
    margin: auto;
    height: 50%;
    width: 30px;
    background-color: #C52B2B;
    border-radius: 20px;    
}

.sideNav{
    width: 100%;
    position: relative;
}

.sideNavItem{
    width: 50%;
    height: 80%;
    position: absolute;
    top:0;
    right:8px;
    bottom:0;
    margin:auto;
    transition-property: width;
    transition-duration: 1s;
}

.sideNavItem img{
    opacity: 0;
    transition-property: opacity;
    height: 100%;
    transition-duration: 1s;
}
.sideNavItem.yellow{
    background-color: #f1cd5f;
}
.sideNavItem.pink{
    background-color: rgb(244, 182, 183,1);
}

.sideNavItem.purple{
    background-color: rgb(215, 191, 235,1);
}

.sideNavItem.orange{
    background-color: #f3b182;
}

.sideNavItem img:hover{
    opacity: 1;
}

.sideNavItem.pink:hover{
    width: 230px;
    right:8px;
}




.sideNavItem:hover{
    /* background-color: rgb(244, 182, 183,0); */
    /* background-color:none!important; */
    width: 200px;
    right:8px; 
}


table tr td, table tr th{
    background-color: rgba(0,0,0, 0.0) !important;
    color:#5A555C!important;
    font-size: 1rem;
    cursor:default;
    vertical-align: middle;
}

.greyBorder{
    border-bottom: 2px solid #A7A9AC;
}


.questionLabel{
     font-family: "Nunito Sans", sans-serif;
     font-size: 1rem;
     font-style: bold;
}

.starSlider{
    width: 100%;
}

.starSlider div{
    width: 20%;
}

.roundBtn{
    background-color:#76CC7D;
    color:white;
    font-weight: 800!important;
    border-radius: 25px;
    font-family: "Nunito Sans", sans-serif!important;
}

.roundBtn:hover{
    background-color:#61a767;   
    color:white;

}

/* CSS to override bootstrap */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 



 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .questionLog{
        height: 70%;
    }
    .poke-mapbox{
        height: 50vh;
    }
    #gallery{
        height: 50vh;
    }
    .questionList {
        height: 20vh;
    }
    /* #boxStage{
        height: 75%;
    } */

    .pokemonGallery{
        width: calc(100%/10);
    }

        .poke-grey{
        background-color:#f1f2f2!important;
        background-image:url("../img/wallpaper2.png");
    
    }

 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  
}